basePath: /
definitions:
  entities.Hook:
    properties:
      channel:
        type: string
      created_at:
        type: integer
      headers:
        type: string
      id:
        type: string
      payload:
        type: string
      statusOk:
        type: boolean
    type: object
  entities.HooksByChannel:
    properties:
      count:
        type: integer
      data:
        items:
          $ref: '#/definitions/entities.Hook'
        type: array
    type: object
host: webhook-api.shelex.dev
info:
  contact:
    email: ovr.shevtsov@gmail.com
    name: API Support
    url: http://www.swagger.io/support
  description: webhook listener api
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: webhook listener API
  version: "1.0"
paths:
  /api/{channel}:
    delete:
      consumes:
      - application/json
      description: delete channel
      parameters:
      - description: name
        in: path
        name: channel
        required: true
        type: string
      responses:
        "200":
          description: OK
      summary: delete channel
    get:
      consumes:
      - application/json
      description: get messages for channel
      parameters:
      - description: name
        in: path
        name: channel
        required: true
        type: string
      - description: pagination offset
        in: query
        name: offset
        type: integer
      - description: pagination limit
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/entities.HooksByChannel'
            type: array
      summary: get messages for channel
    post:
      consumes:
      - application/json
      description: post message
      parameters:
      - description: name
        in: path
        name: channel
        required: true
        type: string
      - description: message
        in: body
        name: message
        required: true
        schema:
          additionalProperties: true
          type: object
      - description: fail requests until timestamp
        in: query
        name: failUntil
        type: integer
      - description: do not handle message by service and just reply with status code
        in: query
        name: justreply
        type: boolean
      responses:
        "200":
          description: OK
      summary: post message
schemes:
- https
swagger: "2.0"
