basePath: /
definitions:
  entities.Hook:
    properties:
      channel:
        type: string
      created_at:
        type: integer
      failed:
        type: boolean
      headers:
        type: string
      id:
        type: string
      payload:
        type: string
    type: object
host: webhook.monster
info:
  contact:
    email: ovr.shevtsov@gmail.com
    name: API Support
    url: http://www.swagger.io/support
  description: webhook listener api
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: webhook listener API
  version: "1.0"
paths:
  /api/{channel}:
    delete:
      consumes:
      - application/json
      description: delete channel
      parameters:
      - description: name
        in: path
        name: channel
        required: true
        type: string
      responses:
        "200":
          description: ""
      summary: delete channel
    get:
      consumes:
      - application/json
      description: get messages for channel
      parameters:
      - description: name
        in: path
        name: channel
        required: true
        type: string
      - description: pagination offset
        in: query
        name: offset
        type: integer
      - description: pagination limit
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              items:
                $ref: '#/definitions/entities.Hook'
              type: array
            type: array
      summary: get messages for channel
    post:
      consumes:
      - application/json
      description: post message
      parameters:
      - description: name
        in: path
        name: channel
        required: true
        type: string
      - description: message
        in: body
        name: message
        required: true
        schema:
          type: primitive
      - description: fail requests until timestamp
        in: query
        name: failUntil
        type: integer
      responses:
        "200":
          description: ""
      summary: post message
swagger: "2.0"
